<<<<<<< HEAD
/* _variables.scss */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #242323;
    --link-hover-color: #0056b3;
    --white:#FFFFFF;
    --black:#000000;
    --content-bg-color:#F4F6F5;
    --banner-text-color:#191818;
    --button-bg-color: #000000;
    --button-hover-color: #333;
    --button-text-color: #fff;
    --unique-text-color:#EBD96B;
    --pay-color:#FFF36D;
    --info-color:rgba(229, 198, 67, 1);
    --info-text-color:rgba(255, 255, 255, 1);
    --info-button-color:rgba(0, 0, 0, 1);
    --info-text-color:rgba(255, 255, 255, 1);
    --modal_danger_btn_color:#e74c3c;
    --modal-content_text_color:#1a1a1a;
    --modal_submit_btn_color:#e6c744;
    --poster-text-color:#191919;
  }
  

=======
/* _variables.scss */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #242323;
    --link-hover-color: #0056b3;
    --white:#FFFFFF;
    --black:#000000;
    --content-bg-color:#F4F6F5;
    --banner-text-color:#191818;
    --button-bg-color: #000000;
    --button-hover-color: #333;
    --button-text-color: #fff;
    --unique-text-color:#EBD96B;
    --pay-color:#FFF36D;
    --info-color:rgba(229, 198, 67, 1);
    --info-text-color:rgba(255, 255, 255, 1);
    --info-button-color:rgba(0, 0, 0, 1);
    --info-text-color:rgba(255, 255, 255, 1);
    --modal_danger_btn_color:#e74c3c;
    --modal-content_text_color:#1a1a1a;
    --modal_submit_btn_color:#e6c744;
    --poster-text-color:#191919;
  }
  

>>>>>>> fe49d65 (responsive for all screens)
