@use './base/variables' as *;
@use './base/header' as *;
@use './base/typography' as *;
@use './base/buttons' as *;
@use './base/mixins' as *;
@use './components/paysale' as *;
@use './components/arrivals' as *;
@use './components/footer' as *;
@use './components/banner' as *;
@use './components/signup' as *;
@use './components/favourite' as *;
@use './components/fashion' as *;
@use './components/info.scss' as *;
@use './base/mediaquery' as *;



$bg-color: #ffffff;
$font-family: 'Poppins', 'Roboto';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
 
}

body {
  background-color: $bg-color;
  font-family: $font-family;
  margin: 0;
  // margin-top: 60px;
  
}
a {
  text-decoration: none;
  color: inherit; 
}

a:hover {
  text-decoration: underline;
}


